{% extends 'admin/base_site.html' %}
<head></head>

    {% block title %}

        <title>Home</title>

    {% endblock %}

</head>

{% block body %}
<body>
    <div class="container">
        <h1>Hi {{user.username}}</h1>
        {% if is_authenticated %}
        <a href="{% url 'accounts:login' %}">
            <button class="btn btn-default" type="button" name="button">Login</button>
        </a>
        {% else %}
        <a href="">
            <button class="btn btn-default" type="button" name="button">Logout</button>
        </a>
        {% endif %}

    </div>
</body>

{% endblock %}


