<!DOCTYPE html>


<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">﻿

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  {# this just fixes the issue so it would recognize the sizes when opened in a mobile #}

    {% block title %}{% endblock %}
</head>
<body>
<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home:home' %}">Musicbook</a>
          </div>

          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}

                    <li><a href="{% url 'accounts:reset_password' %}"> Reset Password <span class="sr-only">(current)</span></a></li>
                    <li><a class="active glyphicon glyphicon-log-in" href="{% url 'accounts:login' %}"> Login<span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% else %}

{#                    <li><a class="active" href="{% url 'accounts:profile' %}"> My Account <span class="sr-only">(current)</span></a></li>#}
                    <li><a href="{% url 'accounts:profile' %}"> Profile <span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'accounts:editprofile' %}"> Edit Profile <span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'accounts:change-password' %}"> Change Password <span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'accounts:logout' %}"> Logout<span class="sr-only">(current)</span></a></li>


                {% endif %}

            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>


</div> <!-- /container -->

{% block body %}


{% endblock %}
</body>

{# this is used so that the burger button on mobile will work #}
{# This should be place above the bootstrap since it relies on Jquesry#}
<script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>